{% extends "base.html" %}
{% block content %}
<div class="container text-center">
  <h1 class="header-text text-center">Clear</h1>
  <div class="jumbotron">
    <p>Clear is an intuitive blog where you can focus on what's important: your writing. Whether you want to publish short stories, write poetry, or just dump your thoughts onto the page, Clear is there to help.</p>
  </div>
  <div class="btn-group">
    <a href="/signup"><button type="button" class="btn btn-default btn-lg">Sign Up</button></a>
    <a href="/signin"><button type="button" class="btn btn-primary btn-lg">Sign In</button></a>
  </div>
</div>
{% endblock %}
