{% extends "base.html" %}
{% block content%}
{% if user.name == post.author %}
<div class="text-right">
  <div class="btn-group">
    <a href="/post/{{ post.key().id() }}/edit" class="btn btn-primary" role="button">Edit Post</a>
    <a href="/post/{{ post.key().id() }}/delete" class="btn btn-danger" role="button">Delete Post</a>
  </div>
</div>
{% endif %}
<h1 class="header-text text-center">{{ post.title }}<small> by {{ post.author }}</small></h1>
<div class="jumbotron text-center">
  <p>{{ post.content }}</p>
</div>
{% endblock %}
